.paragraph{
    display: none;
}
.paragraph1{
    display: none;
    /* position: relative;
    zoom: 1; */
}
.paragraph2{
    display: none;
    top: 20%;
    text-align: center;
    position: relative;

}

.box{
    /* display: none; */
    opacity: 0;
    border: 1px solid red;
    background-color: greenyellow;
    height: 100px;
    width: 100px;
    position: absolute;

}

#btn{
    border: 1px solid black;
 
}